<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <% include partials/pages/navbar.ejs data %>
</nav>

<div class="raysContainer">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                    <form class="well form-horizontal" action=" " method="post" id="contact_form" style="">


                        <!-- Text input-->

                        <div class="form-group">

                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="First Name" class="form-control" type="text">
                            </div>

                        </div>

                        <!-- Text input-->

                        <div class="form-group">

                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                            </div>

                        </div>

                        <!-- Text input-->
                        <div class="form-group">

                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                            </div>
                        </div>

                        <!-- Text area -->

                        <div class="form-group">

                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" name="comment"
                                          placeholder="Project Description" class="contactTextArea"></textarea>
                            </div>

                        </div>

                        <!-- Success message -->
                        <div class="alert alert-success" role="alert" id="success_message">Success <i
                                    class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you
                            shortly.
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="   btn btn-warning">Send <span
                                            class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>


            </div>


        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>


    </div>
</div> <!-- /container -->


<div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div> <!-- /container -->

<% include partials/pages/scripts.ejs %>

</body>
</html>

