<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/pages/head.ejs %>
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <% include partials/pages/navbar.ejs data %>
</nav>

<div class="raysContainer">
    <% include partials/pages/contactUs.ejs %>
</div> <!-- /container -->


<div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div> <!-- /container -->

<% include partials/pages/scripts.ejs %>

</body>


<script>


    function validateForm() {

        swal("Contact Us!", "Thanks for Contacting us! We will respond to your email as soon as possible", "success")
        return true;

        /*

                if (true) {
                } else {
                    swal({
                        title: "Error!",
                        text: "Passwords are not the same!",
                        type: "error",
                        confirmButtonText: "Correct"
                    });
                    return false;
                }
        */


    }
</script>





</html>