<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <% include partials/pages/topNav.ejs %>
</nav>


<div class="raysContainer">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="alert alert-success" style="overflow: scroll;" role="alert">

                encryption of "Mansour" is: <%= hashed%>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
    </div>

</div> <!-- /container -->


<div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div> <!-- /container -->

<% include partials/pages/scripts.ejs %>

</body>
</html>
