<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <% include partials/pages/navbar.ejs %>
</nav>

<div class="raysContainer ">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align: center">
            <img src="../images/header0.jpg" width="70%">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
        </div>
    </div>
</div> <!-- /container -->

<div class="raysContainer" style="margin-top:20px">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 middleInnerContainer">
            <!-- Items start here-->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top: 30px;">
                <div class="thumbnail">
                    <div class="caption">
                        <span class="thumbnailTitle" style="font-size: 20px; display: block;">Rays of Sounds</span>
                        <p style="margin: 10px 0px 10px 0px;">
                            This website was born out of the determination of
                            Victoria University of Wellington's Language
                            Learning Centre to save some older, but valuable
                            stories and songs on tape and make them more
                            accessible for everyone to enjoy. After securing
                            permission from the copyright holders for digitisation,
                            we created this website and embedded the audio
                            material for online streaming. The result is a digital
                            audio-book shelf which breathes new life into
                            precious, but long-underused resources.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top: 30px;">
                <div class="thumbnail">
                    <div class="caption">
                        <span class="thumbnailTitle" style="font-size: 20px; display: block;">Books at the LLC</span>
                        <p style="margin: 10px 0px 10px 0px;">
                            The books corresponding to the audio on this website
                            on this website are all available at Victoria
                            University of Wellington's Language Learning
                            Centre. The callmark [MAOR.LAN.3699.B/6] indicated
                            under each title links to the University's library
                            catalogue and indicate the location of the related
                            book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top: 30px;">
                <div class="thumbnail">
                    <div class="caption">
                        <span class="thumbnailTitle" style="font-size: 20px; display: block;">Disclaimer</span>
                        <p style="margin: 10px 0px 10px 0px;">
                            Victoria University staff have made all reasonable
                            effort to contact copyright holders credited on
                            this website and to seek their permission for
                            streaming the audio recordings and displaying the
                            illustrative images for which they hold copyright.
                            If you are a copyright holder that we have not
                            managed to find or contact and would not like your
                            work to appear on this website, please let us know
                            and we will remove it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="raysContainer">
    <% include partials/pages/footer.ejs %>
</div> <!-- /container -->

<% include partials/pages/scripts.ejs %>

</body>
</html>