extends layout.jade
block content
  .raysContainer
    .row
      .col-xs-12.col-sm-12.col-md-3.col-lg-3
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.middleInnerContainer(style='')
      
        // ---------------------------------  ITEMS START  -----------------------------------------------
        .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='padding-top: 30px;')
          .thumbnail
            img(src='images/Deirdre_Gardiner.jpg', alt='Deirdre_Gardiner Image')
            .caption
              span.thumbnailTitle(style='font-size: 20px; display: block;') Te Papa Wira
              span.label.label-info
                a(href='#', style='color: white;') MAOR.LAN.3699.B/6
              p(style='margin: 10px 0px 10px 0px;')
                | Ko ngā kōrero nā Makere Rogers
                | Ko ngā pikitia nā Bob Kerr,
                | Ko ngā kōrero nā Makere Rogers
                | Ko ngā pikitia nā Bob Kerr,
                | Ko ngā kōrero nā Makere Rogers
                | Ko ngā pikitia nā Bob Kerr,
                | Ko ngā kōrero nā Makere Rogers
                | Ko ngā pikitia nā Bob Kerr
              audio(style='width: 100%;', controls='controls', preload='metadata')
                source(src='maori/audio/3699_6_TePapaWira.m4a', type='audio/mp4', ;='', codecs='avc1.42E01E, mp4a.40.2')
                No HTML5 audio playback capabilities.
              br
              p
              .btn-group(style='width: 100% !important;')
                button.btn.btn-warning(type='button', style='width: 88% !important;')
                  | Submit
                  button.btn.btn-warning.dropdown-toggle(style='width: 10% !important;', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    span.caret
                  span.sr-only Toggle Dropdown
                  ul.dropdown-menu(style='width: 100% !important;')
                    li
                      a(href='#') Edit
                    li.divider(role='separator')
                    li
                      a(href='#') Delete this item

        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          nav(aria-label='Page navigation', style='margin-left:340px;')
            ul.pagination
              li
                a(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
              li
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#', aria-label='Next')
                 span(aria-hidden='true') »
      .col-xs-12.col-sm-12.col-md-3.col-lg-3