 
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Static Top Navbar Example for Bootstrap
    meta(charset='UTF-8')
    title Rays of Sound - Admin Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js')
    script(src='../node_modules/bootstrap/dist/js/bootstrap.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='myStyle.css')
    link(rel='stylesheet', href='DiffCSS.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Custom styles for this template
    script(src='validation.js')
    link(href='validation.css', type='text/css', rel='stylesheet')
  body
    // Static navbar
    nav.navbar.navbar-default.navbar-static-top
      .navbar-header(style='padding-left: 20px;')
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Rays of sound
        ul.nav.navbar-nav.foo
          li.active
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
      .container
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            // ---------------------- Categories ------------------------
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Gagana Sāmoa
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
            // ---------------------- Categories ------------------------
            // ---------------------- Categories ------------------------
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Māori Kūki 'Āirani
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
            // ---------------------- Categories ------------------------
            // ---------------------- Categories ------------------------
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Tamariki Māori
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
            // ---------------------- Categories ------------------------
            // ---------------------- Categories ------------------------
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Kūki 'Āirani
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
            // ---------------------- Categories ------------------------
            // ---------------------- Categories ------------------------
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Rangatahi Māori 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
            // ---------------------- Categories ------------------------
          ul.nav.navbar-nav.navbar-right
            .navBtnContainer
              button.btn.btn-default(type='button', data-toggle='modal', data-target='#myModal')
                a(href='#login')
                  span.ion.ion-person(style='margin-right:5px; font-size:120%;')
                  | Login
              //
                <div class="AdminWelcome" style="display: inline;">
                <span style="padding-top: 8px !important;">Welcome Admin</span>
                </div>
                <button style="margin-left:5px;" type="button" class="btn btn-default" data-toggle="modal"
                data-target="#myModali"
                style="cursor:pointer;"><a><span style="margin-right:5px; font-size:120%;"
                class="ion ion-person-add"></span>Signup</a></button>
            // <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        // /.nav-collapse
    .raysContainer
      .row
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.middleInnerContainer(style='')
          // ---------------------------------  ITEMS START  -----------------------------------------------
          .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='padding-top: 30px;')
            .thumbnail
              img(src='images/Rotating_home_page_pix/Deirdre_Gardiner.jpg', alt='Deirdre_Gardiner Image')
              .caption
                span.thumbnailTitle(style='font-size: 20px; display: block;') Te Papa Wira
                span.label.label-info
                  a(href='#', style='color: white;') MAOR.LAN.3699.B/6
                p(style='margin: 10px 0px 10px 0px;')
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr
                audio(style='width: 100%;', controls='controls', preload='metadata')
                  source(src='maori/audio/3699_6_TePapaWira.m4a', type='audio/mp4', ;='', codecs='avc1.42E01E, mp4a.40.2')
                  |                             No HTML5 audio playback capabilities.
                br
                p
                  .btn-group(style='width: 100% !important;')
                    button.btn.btn-warning(type='button', style='width: 88% !important;')
                      | Submit
                    button.btn.btn-warning.dropdown-toggle(style='width: 10% !important;', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      span.caret
                      span.sr-only Toggle Dropdown
                    ul.dropdown-menu(style='width: 100% !important;')
                      li
                        a(href='#') Edit
                      li.divider(role='separator')
                      li
                        a(href='#') Delete this item
          // ---------------------------------  ITEMS END  -**----------------------------------------------
          // ---------------------------------  ITEMS START  -----------------------------------------------
          .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='padding-top: 30px;')
            .thumbnail
              img(src='images/Rotating_home_page_pix/Deirdre_Gardiner.jpg', alt='Deirdre_Gardiner Image')
              .caption
                span.thumbnailTitle(style='font-size: 20px; display: block;') Te Papa Wira
                span.label.label-info
                  a(href='#', style='color: white;') MAOR.LAN.3699.B/6
                p(style='margin: 10px 0px 10px 0px;')
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr
                audio(style='width: 100%;', controls='controls', preload='metadata')
                  source(src='maori/audio/3699_6_TePapaWira.m4a', type='audio/mp4', ;='', codecs='avc1.42E01E, mp4a.40.2')
                  |                             No HTML5 audio playback capabilities.
                br
                p
                  .btn-group(style='width: 100% !important;')
                    button.btn.btn-warning(type='button', style='width: 88% !important;')
                      | Submit
                    button.btn.btn-warning.dropdown-toggle(style='width: 10% !important;', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      span.caret
                      span.sr-only Toggle Dropdown
                    ul.dropdown-menu(style='width: 100% !important;')
                      li
                        a(href='#') Edit
                      li.divider(role='separator')
                      li
                        a(href='#') Delete this item
          // ---------------------------------  ITEMS END  -**----------------------------------------------
          // ---------------------------------  ITEMS START  -----------------------------------------------
          .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='padding-top: 30px;')
            .thumbnail
              img(src='images/Rotating_home_page_pix/Deirdre_Gardiner.jpg', alt='Deirdre_Gardiner Image')
              .caption
                span.thumbnailTitle(style='font-size: 20px; display: block;') Te Papa Wira
                span.label.label-info
                  a(href='#', style='color: white;') MAOR.LAN.3699.B/6
                p(style='margin: 10px 0px 10px 0px;')
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr
                audio(style='width: 100%;', controls='controls', preload='metadata')
                  source(src='maori/audio/3699_6_TePapaWira.m4a', type='audio/mp4', ;='', codecs='avc1.42E01E, mp4a.40.2')
                  |                             No HTML5 audio playback capabilities.
                br
                p
                  .btn-group(style='width: 100% !important;')
                    button.btn.btn-warning(type='button', style='width: 88% !important;')
                      | Submit
                    button.btn.btn-warning.dropdown-toggle(style='width: 10% !important;', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      span.caret
                      span.sr-only Toggle Dropdown
                    ul.dropdown-menu(style='width: 100% !important;')
                      li
                        a(href='#') Edit
                      li.divider(role='separator')
                      li
                        a(href='#') Delete this item
          // ---------------------------------  ITEMS END  -**----------------------------------------------
          // ---------------------------------  ITEMS START  -----------------------------------------------
          .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='padding-top: 30px;')
            .thumbnail
              img(src='images/Rotating_home_page_pix/Deirdre_Gardiner.jpg', alt='Deirdre_Gardiner Image')
              .caption
                span.thumbnailTitle(style='font-size: 20px; display: block;') Te Papa Wira
                span.label.label-info
                  a(href='#', style='color: white;') MAOR.LAN.3699.B/6
                p(style='margin: 10px 0px 10px 0px;')
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr
                audio(style='width: 100%;', controls='controls', preload='metadata')
                  source(src='maori/audio/3699_6_TePapaWira.m4a', type='audio/mp4', ;='', codecs='avc1.42E01E, mp4a.40.2')
                  |                             No HTML5 audio playback capabilities.
                br
                p
                  .btn-group(style='width: 100% !important;')
                    button.btn.btn-warning(type='button', style='width: 88% !important;')
                      | Submit
                    button.btn.btn-warning.dropdown-toggle(style='width: 10% !important;', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      span.caret
                      span.sr-only Toggle Dropdown
                    ul.dropdown-menu(style='width: 100% !important;')
                      li
                        a(href='#') Edit
                      li.divider(role='separator')
                      li
                        a(href='#') Delete this item
          // ---------------------------------  ITEMS END  -**----------------------------------------------
          // ---------------------------------  ITEMS START  -----------------------------------------------
          .col-xs-12.col-sm-12.col-md-4.col-lg-4(style='padding-top: 30px;')
            .thumbnail
              img(src='images/Rotating_home_page_pix/Deirdre_Gardiner.jpg', alt='Deirdre_Gardiner Image')
              .caption
                span.thumbnailTitle(style='font-size: 20px; display: block;') Te Papa Wira
                span.label.label-info
                  a(href='#', style='color: white;') MAOR.LAN.3699.B/6
                p(style='margin: 10px 0px 10px 0px;')
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr,
                  | Ko ngā kōrero nā Makere Rogers
                  | Ko ngā pikitia nā Bob Kerr
                audio(style='width: 100%;', controls='controls', preload='metadata')
                  source(src='maori/audio/3699_6_TePapaWira.m4a', type='audio/mp4', ;='', codecs='avc1.42E01E, mp4a.40.2')
                  |                             No HTML5 audio playback capabilities.
                br
                p
                  .btn-group(style='width: 100% !important;')
                    button.btn.btn-warning(type='button', style='width: 88% !important;')
                      | Submit
                    button.btn.btn-warning.dropdown-toggle(style='width: 10% !important;', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      span.caret
                      span.sr-only Toggle Dropdown
                    ul.dropdown-menu(style='width: 100% !important;')
                      li
                        a(href='#') Edit
                      li.divider(role='separator')
                      li
                        a(href='#') Delete this item
          // ---------------------------------  ITEMS END  -**----------------------------------------------
          // ---------------------------------  Page NAVIGATION STARTS ----------------------------------------------
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            nav(aria-label='Page navigation', style='margin-left:340px;')
              ul.pagination
                li
                  a(href='#', aria-label='Previous')
                    span(aria-hidden='true') «
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#', aria-label='Next')
                    span(aria-hidden='true') »
          // ---------------------------------  Page NAVIGATION ENDS ----------------------------------------------
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
    // /container
    .raysContainer
      .row
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
        .col-xs-12.col-sm-12.col-md-6.col-lg-6(style=' margin: 0px !important; padding: 0px !important;')
          footer.RaysFooter
            | 2015 Victoria University of Wellington | Language Learning Centre 
            br
            br
            |                 Template design by SWEN302 Students
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
    // /container
    // /.container
    #myModalForgot.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                span.glyphicon.glyphicon-remove
            span.fa.fa-key(style='float: left; font-size: 150%; margin: 5px 10px 0px 0px;')
            h4(style='float:left') Forgot password
          .modal-body
            .form-group
              label.control-label(for='email') Email:
              input.form-control(type='text', placeholder='Email...', name='email')
            .form-group
              button.btn.btn-primary Submit
    #myModal.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                span.glyphicon.glyphicon-remove
            span.ion.ion-person(style='float: left; font-size: 150%; margin: 5px 10px 0px 0px;')
            h4(style='float:left') Login
          .modal-body(style='height:400px !important;')
            #loginbox.mainbox.col-md-12
              .panel.panel-primary
                .panel-heading
                  .panel-title Sign In
                  div(data-dismiss='modal', data-toggle='modal', data-target='#myModalForgot', style='float:right; font-size: 80%; position: relative; top:-10px')
                    a(href='#', style='color:white;')
                      | Forgot
                      | password?
                .panel-body(style='padding-top:30px')
                  #login-alert.alert.alert-danger.col-sm-12(style='display:none')
                  form#loginform.form-horizontal(role='form')
                    .input-group(style='margin-bottom: 25px')
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      input#login-username.form-control(type='text', name='username', value='', placeholder='username or email')
                    .input-group(style='margin-bottom: 25px')
                      span.input-group-addon
                        i.glyphicon.glyphicon-lock
                      input#login-password.form-control(type='password', name='password', placeholder='password')
                    .input-group
                      .checkbox
                        label
                          input#login-remember(type='checkbox', name='remember', value='1')
                          |                                             Remember me
                    .form-group(style='margin-top:10px')
                      // Button
                      .col-sm-12.controls
                        a#btn-login.btn.btn-success(href='#') Login 
                        a#btn-fblogin.btn.btn-primary(href='#') Login with Facebook
                    .form-group
                      .col-md-12.control
                        div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
                          | Don't have an account!
                          a(href='#', data-dismiss='modal', data-toggle='modal', data-target='#myModali')
                            | Sign Up Here
    #myModali.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                span.glyphicon.glyphicon-remove
            span.ion.ion-person-add(style='float: left; font-size: 150%; margin: 5px 10px 0px 0px;')
            h4(style='float:left') Signup
          .modal-body
            form#registrationForm.form-horizontal(method='post', action='register.php')
              .form-group
                label.col-md-4.control-label(for='email') Email
                .col-md-7.col-md-offset-1
                  input#email.form-control(type='email', name='email', placeholder='Email...')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display Email required
                  p.errorMes.display Please enter a valid email address
              .form-group
                label.col-md-4.control-label(for='pass') Password
                .col-md-7.col-md-offset-1
                  input#pass.form-control(type='password', name='pass', placeholder='Password...')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display Password required
                  p.errorMes.display Password must be more than 8 characters long
              .form-group
                label.col-md-4.control-label(for='confirm') Confrim Password
                .col-md-7.col-md-offset-1
                  input#confirm.form-control(type='password', name='confirm', placeholder='Retype Password...')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display Confirm password required
                  p.errorMes.display Password does not match required
              .form-group
                label.control-label.col-md-4(for='name1') Name
                .col-md-7.col-md-offset-1
                  input#name1.form-control(type='text', name='name1', placeholder='Name...')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display Name required
                  p.errorMes.display Name must not contain spaces and numbers
              .form-group
                label.control-label.col-md-4(for='last') Surname
                .col-md-7.col-md-offset-1
                  input#last.form-control(type='text', name='last', placeholder='Surname...')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display Surname required
                  p.errorMes.display Surname must not contain spaces and numbers
              .form-group
                label.control-label.col-md-4(for='age') Age
                .col-md-7.col-md-offset-1
                  input#age.form-control(type='text', name='age', placeholder='DD/MM/YYYY')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display DOB required
                  p.errorMes.display It must be in the correct format
              .form-group
                label.control-label.col-md-4(for='language') Language
                .col-md-7.col-md-offset-1
                  input#language.form-control(type='text', name='language', placeholder='Language...')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display Language required
                  p.errorMes.display Language must not contain numbers
              .form-group
                label#captchaOperation.control-label.col-md-4
                .col-md-7.col-md-offset-1
                  input#answer.form-control(type='text', name='captcha', placeholder='')
                  i.glyphicon.glyphicon-remove.test.baste
                  i.glyphicon.glyphicon-ok.ok.baste
                  p.errorMes.display Wrong answer
              .form-group
                label.col-md-4.control-label Gender
                .col-md-7.col-md-offset-1
                  .radio
                    label
                      input#male(type='radio', name='gender', value='male')
                      |  Male
                  .radio
                    label
                      input#female(type='radio', name='gender', value='female')
                      |  Female
                  .radio
                    label
                      input#other(type='radio', name='gender', value='other')
                      |  Other
                  p.errorMes.display Gender required
              .form-group
                .col-md-7.col-md-offset-4
                  button#register1.btn.btn-warning(style='color:#555555;font-weight:bold;margin-left:35px;', type='submit')
                    | Register
                  button#close.btn.btn-primary(style='font-weight:bold', type='button', data-dismiss='modal')
                    | Close
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='../../dist/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='../../assets/js/ie10-viewport-bug-workaround.js')
