<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

    <!-- Custom Style-->
<link rel="stylesheet" href="../stylesheets/style.css">
<link href="../stylesheets/validation.css" type="text/css" rel="stylesheet">
<link href="../stylesheets/slideshow.css" type="text/css" rel="stylesheet">

</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">

    <% include partials/pages/navbar.ejs data %>
</nav>

<div class="raysContainer">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 middleInnerContainer">

            <div class="row" style="padding: 50px;">
                <div class="media">


                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="margin: 0px !important; padding: 0px !important;">


                        <div class="media-left">
                            <a href="#" class="thumbnail" style="width: 300px;">
                                <img alt="64x64" class="media-object"
                                     data-src="holder.js/64x64"
                                     style="width: 300px; height: 300px;"
                                     src="../images/Deirdre_Gardiner.jpg"
                                     data-holder-rendered="true"> </a>

                            <div class="btn-group" style="width: 100% !important; margin-bottom: 100px;" >

                                <button type="button" class="btn btn-warning" style="width: 250px !important;">Submit
                                </button>
                                <button style="" type="button"
                                        class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><span class="caret"></span> <span
                                            class="sr-only">Toggle Dropdown</span></button>

                                <ul class="dropdown-menu" style="width: 100% !important;">
                                    <li><a href='<%=items[0].id%>/edit'>Edit</a></li>

                                    <li role="separator" class="divider"></li>
                                    <li><a href='<%=items[0].id%>/edit'>Delete this item</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 " style="margin: 0px !important; padding: 0px !important;">

                        <div class="media-body">
                            <h4 class="media-heading" style="font-weight: bold; font-size: 20px;"><%= items[0].item_name %></h4>
                            <span class="label label-info"><a href="#"
                                                              style="color: white;">MAOR.LAN.3699.B/6</a></span>

                            <p style="margin: 10px 0px 10px 0px;">
                                <%= items[0].description %>
                                <!-- Ko ngā kōrero nā Makere Rogers
                                Ko ngā pikitia nā Bob Kerr,
                                Ko ngā kōrero nā Makere Rogers
                                Ko ngā pikitia nā Bob Kerr,
                                Ko ngā kōrero nā Makere Rogers
                                Ko ngā pikitia nā Bob Kerr,
                                Ko ngā kōrero nā Makere Rogers
                                Ko ngā pikitia nā Bob Kerr -->
                            </p>
                           <!--  &nbsp;
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                                commodo. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                                nisi
                                vulputate
                                fringilla. Donec lacinia congue felis in faucibus.
                            </p> -->


                            <audio style="width: 100%; margin-top: 20px;" controls="controls" preload="metadata">
                                <source src="maori/audio/3699_6_TePapaWira.m4a" type="audio/mp4" ;
                                        codecs="avc1.42E01E, mp4a.40.2"
                                ' />
                                No HTML5 audio playback capabilities.
                            </audio>

                            <audio style="width: 100%; margin-top: 20px;" controls="controls" preload="metadata">
                                <source src="maori/audio/3699_6_TePapaWira.m4a" type="audio/mp4" ;
                                        codecs="avc1.42E01E, mp4a.40.2"
                                ' />
                                No HTML5 audio playback capabilities.
                            </audio>

                            <audio style="width: 100%; margin-top: 20px;" controls="controls" preload="metadata">
                                <source src="maori/audio/3699_6_TePapaWira.m4a" type="audio/mp4" ;
                                        codecs="avc1.42E01E, mp4a.40.2"
                                ' />
                                No HTML5 audio playback capabilities.
                            </audio>



                        </div>

                    </div>


                </div>

            </div>



        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" >

        </div>
    </div>

</div> <!-- /container -->

<!-- <div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div>  -->
<div class="raysContainer">
    <% include partials/pages/footer.ejs %>
</div> 
<!-- /container -->


<% include partials/pages/scripts.ejs %>

</body>
</html>