<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

    <!-- Custom Style-->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="../stylesheets/validation.css" type="text/css" rel="stylesheet">
    <link href="../stylesheets/slideshow.css" type="text/css" rel="stylesheet">

</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <% include partials/pages/navbar.ejs %>
</nav>

<div class="raysContainer">
    <% include partials/pages/IndividualItem.ejs %>
</div> <!-- /container -->

<!-- <div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div>  -->
<div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div>
<!-- /container -->

<% include partials/pages/scripts.ejs %>


</body>
</html>