<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

</head>

<body>

<div class="raysContainer">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">


            <div class="alert alert-danger" style="" role="alert"><%= No Item! There is no item for this categorie, we are sorry for the inconvenience %></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
    </div>

</div> <!-- /container -->


<div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div> <!-- /container -->

<% include partials/pages/scripts.ejs %>

</body>
</html>
