<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

    <style>
        .form-group {
            width: 100% !important;

        }

        label {
            padding-bottom: 3px !important;
        }
    </style>
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <% include partials/pages/navbar.ejs data%>
</nav>


<div class="raysContainer">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div id="login-overlay" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Welcome To Rays of sound Registration Page</h4>
                    </div>

                    <div class="modal-body">

                        <!--form(method='post', action='/users/register',enctype='multipart/form-data')-->
                        <form id="registerForm" method="post" action="/Registration" onsubmit="return validateForm()">
                            <!---form--->
                            <div class="form-group">
                                <!---input width--->
                                <div class="col-xs-6">
                                    <label for="InputName">First Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="first_name"
                                               placeholder="Enter First Name" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                    <br>
                                    <label for="InputPassword">Enter Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="password1" id="pass1"
                                               placeholder="Enter Password" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                    <!--------------------------------------separator--------------------------------------------------------------->
                                    <hr>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">

                                    <label for="InputName">Last Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="last_name"
                                               placeholder="Enter Last Name" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>

                                    <br>
                                    <label for="InputPassword">Enter Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="password2" id="pass2"
                                               placeholder="Enter Password" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                    <!--------------------------------------separator--------------------------------------------------------------->
                                    <hr>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="InputUsername">Enter Username</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="username" placeholder="Enter Username"
                                               required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                    <!----------------------------break------------------------------------------------------------->
                                    <br>
                                </div>
                            </div>                            
                            
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="InputEmail">Enter Email</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="email" placeholder="Enter Email"
                                               required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                    <!----------------------------break------------------------------------------------------------->
                                    <br>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group-addon">
                                    <input type="submit" name="submit" id="submit" value="Register"
                                           class="btn btn-success pull-right">

                                </div>
                            </div>
                        </form>
                    </div><!---modal-body--->
                </div>
            </div>


        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
    </div>

</div> <!-- /container -->


<div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div> <!-- /container -->

<% include partials/pages/scripts.ejs %>

<script>
    // A $( document ).ready() block.

    /*   $('#submit').click(function() {

     console.log(pass1);
     console.log(pass2);
     });*/
    /*
     $("#registerForm").submit(function(event){
     var isValid = true;
     var pass1 = $('#pass1').val();
     var pass2 = $('#pass2').val();

     if(pass1 == pass2)
     console.log("Damn correct");

     if (!isValid) {
     event.preventDefault();
     }
     });*/


    function validateForm() {


        var pass1 = $('#pass1').val();
        var pass2 = $('#pass2').val();

        if (pass1 == pass2) {
            swal("Registration!", "Thanks for registration on our website!", "success")
            return true;
        } else {
            swal({
                title: "Error!",
                text: "Passwords are not the same!",
                type: "error",
                confirmButtonText: "Correct"
            });
            return false;
        }


    }
</script>

</body>
</html>
