html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
span{
}

/************************************** END OF CSS RESET ****************************/
body{
    background-image: url("../images/patterns/p11.png");
}


.middleInnerContainer{
    background-color: #f5f5f5;
    border: 2px solid #e3e3e3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


.RaysFooter{
    text-align: center;
    margin: 20px 0px 0px 0px;
    background-color: #f5f5f5;
    border: 2px solid #e3e3e3;
    padding: 20px 0px 20px 0px;
    border-radius: 15px 15px 0px 0px;

}


.foo{
    /*padding-right: 100px;*/
}

.navBtnContainer{
    padding-top: 8px;
}
.AdminWelcome{
    padding-top: 8px;
}
#success_message{ display: none;}




/*************************************** CONTACT US Styles *****************************/

.contact {
}
.contact h4 {
    margin: 15px 0px 10px 0px;
    font-size: 20px;
}
.contact img {
    border-radius: 10px;
    float:left;
    margin: 0px 10px 10px 10px;
}






form#contact_form {
    height: 100% !important;
    width: 100% !important;

    padding: 20px 0px 0px 20px !important;
    height: 100% !important;
    width: 100% !important;
    border: none !important;
    /*background: blue !important;*/
}

.contactTextArea{
    max-width: 100%;
}
.form-group{
    padding:0px !important;
    margin:5px 0px 10px !important;
    /*width: 50% !important;*/
}
.contactusField{
}

.contactTextArea{
    max-width: 100%;
}

.textarea.form-control{
    height: 500px !important;
}



.modal-backdrop{
    display: none !important;
}


.contentTextArea{
    height: 200px !important;
    max-width: 483px !important;
    min-width: 100% !important;
}

textarea.form-control.contentTextArea{
    max-width: 483px !important;
    min-width: 100% !important;
}


/******************************** Media Queries *******************************************/

@media screen and (max-width: 768px) {
    .foo{
        display: none !important;
    }
    .form-group{
        padding:0px !important;
        margin:0px !important;
        width: 90% !important;

        margin:5px 0px 10px !important;
    }

    .navBtnContainer{
        padding-top: 8px;
        padding-left: 13px;
    }

}
.individualPost {
    padding: 50px;
}

.

/************************** JOSH MODAL ****************************/

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 100px auto;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


.ItemBrief{
}


.loginmodal-container {
    background-color: white;
    padding: 50px;
    border: 1px solid black;
    border-radius: 3px;
}


/* ~~~~~~~~~~~~~~~~ ADMIN PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.admin {

}
.admin h1 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}
.admin h2 {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 30px !important;
    margin: 30px 10px 30px 10px;
}
.adminTile {
    width: 200px;
    height: 200px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 20px;
    border: solid #000000;
    margin: 10px 10px 10px 10px;
}
.adminTile:hover{
    background-color: #def8df;
}
.adminTile a:hover{
    text-decoration: none !important;
}
/* categories */
.category {
}
.category h1 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}
.category h2 {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 30px !important;
    position: relative;
    top:60px;
}
.category button {
    margin: 10px 10px 20px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.category input {
    width: 100%;
    height: 40px;
    margin: 25px 0px 0px 0px;

}
.categoryTile {
    width: 200px;
    height: 100px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 20px;
    border: solid #000000;
    margin: 10px 10px 10px 10px;
}
.categoryTile:hover{
    background-color: #def8df;
}
.categoryTile a:hover{
    text-decoration: none !important;
}

/********* item list ***********/
.itemList {
    line-height: 20px;
}
.itemList table {
    margin: 20px 10px 20px 10px;
}
.itemList th {
    background-color: #e1e1e1;
    color: #000000;
    font-size: 20px;
    cursor: default;
    padding: 5px 0px 5px 20px;
}
.itemList td {
    padding-left: 20px;
}
#itemList_edit {
    background-color: #e1e1e1;
    color: #000000;
    font-size: 20px;
    cursor: default;
    padding: 5px 10px 5px 5px;
}
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    text-align: right;
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    text-align: right;
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
table.sortable tbody tr:nth-child(2n) td {
    background: #ebebeb;
}
table.sortable tbody tr:nth-child(2n+1) td {
    background: transparent;
}
/************ add item *******************/
.inputTitle {
    width: 104px;
}
.add-form-group{
    padding:0px !important;
    margin:5px 0px 10px !important;
}
.add-form-group input {
    width: 400px !important;
}
.add-form-group textarea {
    width: 400px !important;
}
.add-form-group select {
    width: 400px !important;
}
.add-button {
    margin: 10px 0px 0px 154px;
    width: 200px;
    height: 40px;
}

