
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 middleInnerContainer admin" style="">
        <h1>Admin Page</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 adminTile">
                <a href="/admin/allitems">
                    <div style="height: 100%; width: 100%">
                        <h2>List of all items</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>