
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 middleInnerContainer admin" style="">
        <h1>Admin Page</h1>
        <div class="row" style="margin-left: 15%;">
            <!-------- TILE START ------------->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 adminTile">
                <a href="/admin/view/allitems">
                    <h2>
                        <i class="ion-ios-list-outline" aria-hidden="true" style="color: #000000; font-size: 80px"></i>
                        <br>
                        All items list
                    </h2>
                </a>
            </div>
            <!-------- TILE END --------------->

            <!-------- TILE START ------------->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 adminTile">
                <a href="../additem">
                    <div style="height: 100%; width: 100%">
                        <h2>
                            <i class="ion-plus-round" aria-hidden="true" style="color: #000000; font-size: 80px"></i>
                            <br>
                            Add item
                        </h2>
                    </div>
                </a>
            </div>
            <!-------- TILE END --------------->

            <!-------- TILE START ------------->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 adminTile">
                <a href="/admin/manage/categories">
                    <div style="height: 100%; width: 100%">
                        <h2>
                            <i class="ion-grid" aria-hidden="true" style="color: #000000; font-size: 80px"></i>
                            <br>
                            Manage Categories
                        </h2>
                    </div>
                </a>
            </div>
            <!-------- TILE END --------------->

            <!-------- TILE START ------------->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 adminTile">
                <a href="/logout">
                    <div style="height: 100%; width: 100%">
                        <h2>
                            <i class="ion-android-person" aria-hidden="true" style="color: #000000; font-size: 80px"></i>
                            <br>
                            Logout
                        </h2>
                    </div>
                </a>
            </div>
            <!-------- TILE END --------------->

        </div>
    </div>
</div>