
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 middleInnerContainer" style="">

        <!-----------------------------------  ITEMS START  ------------------------------------------------->

    <% for (var i = 0; i < items.length; i++) { %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top: 30px;">

            <div class="thumbnail">

                <img src="/images/test.jpg" alt=" ">
                <div class="caption">
                    <span class="thumbnailTitle" style="font-size: 20px; display: block;"><%= items[i].item_name %></span>

                    <span class="label label-info">
                        <a href="#" style="color: white;"><%= items[i].location %></a>
                    </span>

                    <p style="margin: 10px 0px 10px 0px;">
                        <%= items[i].description %>
                    </p>
                    <audio style="width: 100%;" controls="controls" preload="metadata">
                        <source src=" " type="audio/mp4" ;
                                codecs="avc1.42E01E, mp4a.40.2"/>
                        No HTML5 audio playback capabilities.
                    </audio>
                    &nbsp;
                </div>
            </div>
        </div>
        <% } %>
        <!-----------------------------------  ITEMS END  -**------------------------------------------------>




        <!-----------------------------------  Page NAVIGATION STARTS ------------------------------------------------>


        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav aria-label="Page navigation"  style="text-align: center;">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-----------------------------------  Page NAVIGATION ENDS ------------------------------------------------>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

    </div>
</div>
