
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 middleInnerContainer" style="">

        <!-----------------------------------  ITEMS START  ------------------------------------------------->

    <% for (var i = 0; i < items.length; i++) { %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top: 30px;height: 690px !important;" >

            <div class="thumbnail" style="height: 100%;">

                <img src="/images/test.jpg" alt=" ">
                <div class="caption">
                    <span class="thumbnailTitle" style="font-size: 20px; display: block;"><%= items[i].item_name %></span>

                    <span class="label label-info">
                        <a href="#" style="color: white;"><%= items[i].location %></a>
                    </span>

                    <p style="margin: 10px 0px 10px 0px; height: 80px; overflow: hidden; text-overflow: ellipsis;  width: 100%;">
                        <% if (items[i].description.length > 150) { %>

                            <%= items[i].description.slice(0, 210) %> <a href="#">Read More</a>
                        <% }else{ %>
                            <%= items[i].description %>
                        <% } %>

                    </p>
                    <audio style="width: 100%;" controls="controls" preload="metadata">
                        <source src=" " type="audio/mp4" ;
                                codecs="avc1.42E01E, mp4a.40.2"/>
                        No HTML5 audio playback capabilities.
                    </audio>
                    &nbsp;
                    <br>
                    <p>
                    <%if (user){ %>
                        <div class="btn-group" style="width: 100% !important;">

                            <button type="button" class="btn btn-warning" style="width: 88% !important;">Submit
                            </button>
                            <button style="width: 10% !important;" type="button"
                                    class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><span class="caret"></span> <span
                                        class="sr-only">Toggle Dropdown</span></button>

                            <ul class="dropdown-menu" style="width: 100% !important;">
                                <li><a href="#">Edit</a></li>

                                <li role="separator" class="divider"></li>
                                <li><a href="#">Delete this item</a></li>
                            </ul>
                        </div>
                    <% } %>
                    </p>
                </div>
            </div>
        </div>
        <% } %>
        <!-----------------------------------  ITEMS END  -**------------------------------------------------>




        <!-----------------------------------  Page NAVIGATION STARTS ------------------------------------------------>


        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav aria-label="Page navigation"  style="text-align: center;">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-----------------------------------  Page NAVIGATION ENDS ------------------------------------------------>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

    </div>
</div>
