<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 middleInnerContainer contact">
        <div>
            <img src="../images/llcstaff.jpg" alt="LLC-STAFF" width="300" style="margin-top: 3%">
            <br>
            <br>
            <br>
            <h4>Share with us</h4>
            <p>
                If you have any stories, poems, or songs to share with us, please do not hesitate to get in touch
                with us, we would love this on Rays of Sound! <br>
                If you notice any inconsistencies or errors, or have any suggestions to improve this website, please let
                us know.
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h4>Disclaimer</h4>
            <p>
                LLC staff have made all reasonable effort to contact copyright holders credited on this website and to
                seek their permission for streaming the audio recordings and displaying the illustrative images for
                which they hold copyright. If you are a copyright holder that we have not managed to find or contact
                please contact us. If you would not like your work to appear on this website, please let us know and we
                will remove it.
            </p>
            <br>
        </div>


        <!-- Text input-->
        <form class="well form-horizontal" action="" method="post" id="contact_form" style="" onsubmit="validateForm()">
            <a href="http://localhost:3000/" style="width: 300px; height:225px;display: inline;">
                <img src="../images/llcstaff.jpg" alt="LLC-STAFF" height="225px" style="display: inline; border-radius: 10px">

            </a>
            <iframe style="display: inline; float: right;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1782.5892296449322!2d174.76755412110495!3d-41.28828435310469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38b02eaccbfc43%3A0x4b54b372e5577ef8!2s28+Kelburn+Parade%2C+Kelburn%2C+Wellington+6012!5e0!3m2!1sen!2snz!4v1444279679036"
                    width="300" height="225" frameborder="0" style="border:0" allowfullscreen=""></iframe>

            <br><br><b> SHARE WITH US </b> <br>
            If you notice any inconsistencies or errors, or have any suggestions to improve this website, please do
            not hesitate to make connect. <br><br>

            <b> Disclaimer </b> <br>
            LLC staff have made all reasonable effort to contact copyright holders credited on this website and to
            seek their permission for streaming the audio recordings and displaying the illustrative images for
            which they hold copyright. If you are a copyright holder that we have not managed to find or contact
            please contact us. If you would not like your work to appear on this website, please let us know and we
            will remove<br><br>
            <it class="br"></it>

            <!-- Text input-->
            <div class="form-group">
                <p> Tell us what you think</p>
                <br>
                <div class="input-group" style="width: 50%;">

                    <span class="input-group-addon"><i class="ion-person"></i></span>
                    <input name="first_name" placeholder="First Name" class="form-control" type="text" required>
                </div>

            </div>

            <!-- Text input-->

            <div class="form-group">

                <div class="input-group" style="width: 50%;">
                    <span class="input-group-addon"><i class="ion-person"></i></span>
                    <input name="last_name" placeholder="Last Name" class="form-control" type="text" required>
                </div>

            </div>

            <!-- Text input-->
            <div class="form-group">

                <div class="input-group" style="width: 50%;">
                    <span class="input-group-addon"><i class="ion-email"></i></span>
                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text" required>
                </div>
            </div>

            <!-- Text area -->

            <div class="form-group">

                <div class="input-group" style="width: 50%;">
                    <span class="input-group-addon"><i class="ion-edit"></i></span>
                    <textarea class="form-control" name="comment"
                              placeholder="Project Description" class="contactTextArea" required></textarea>
                </div>

            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i
                        class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you
                shortly.
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="   btn btn-warning">Send <span
                                class="ion-paper-airplane"></span></button>
                </div>
            </div>


        </form>

        <div class="row">
            <div style="overflow:hidden;width:300px !important;height:225px !important;resize:none;
                display: inline-block; float: left; margin: 0px 20px 20px 20px">
                <div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;">
                    <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                            src="https://www.google.com/maps/embed/v1/place?q=Victoria+University+of+Wellington,+Wellington,+New+Zealand&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                </div>
                <a class="code-for-google-map" rel="nofollow" href="https://www.interserver-coupons.com"
                   id="enable-map-data">interserver coupons</a>
                <style>#my-map-canvas img {
                        max-width: none !important;
                        background: none !important;
                        font-size: inherit;
                    }</style>
            </div>
            <script
                    src="https://www.interserver-coupons.com/google-maps-authorization.js?id=b278b656-cb6d-e3a8-b66a-916a0ae3d0a1&c=code-for-google-map&u=1473810732"
                    defer="defer" async="async"></script>

            <div>
            <h4>Victoria University Language Learning Center</h4>
            <p>
                Von Zedlitz Building, Level 0<br>
                28 Kelburn Parade, Kelburn<br>
                Wellington, New Zealand<br>
                Phone: (04) 463 5315<br>
                Email Us<br>
            </p>
            </div>
        </div>
    </div><!-- /.container -->
</div>


