<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 middleInnerContainer itemList">

        <!-----------------------------------  ITEMS START  ------------------------------------------------->
        <div>
            <table class="sortable">
                <tr>
                    <th>Item Name &nbsp</td>
                    <th>Category &nbsp</td>
                    <th>Metadata &nbsp</td>
                    <th>Audio files &nbsp</th>
                </tr>
                <% for (var i=0; i<items.length; i++) { %>
                <tr>
                    <td><%= items[i].item_name %></td>
                    <td><%= data[items[i].category_id-1].title %></td>
                    <td><%= items[i].metadata %></td>
                    <td>
                        <% for (var j=0; j<audio.length; j++) { %>
                            <% if (audio[j].item_id == items[i].id && audio[j].audio_location != null) {%>
                                <%= audio[j].audio_location + "; "%>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
        <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <!-----------------------------------  ITEMS END ----------------------------------------------------->
    </div>
</div>