<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 middleInnerContainer" style="">

        <!-----------------------------------  ITEMS START  ------------------------------------------------->
        <div>
            <table>
                <tr>
                    <td><h1>Item Name</h1></td>
                    <td><h1>Category</h1></td>
                </tr>
                <% for (var i=0; i<items.length; i++) { %>
                <tr>
                    <td><%=items[i].item_name%></td>
                    <td><%=cat[items[i].category_id-1].title%></td>
                </tr>
                <% } %>
            </table>
        </div>
        <!-----------------------------------  ITEMS END ----------------------------------------------------->


    </div>
</div>