<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 middleInnerContainer itemList">

        <!-----------------------------------  ITEMS START  ------------------------------------------------->
        <div>
            <table class="sortable">
                <tr>
                    <th>Item Name</td>
                    <th>Category</td>
                    <th>Metadata</td>
                </tr>
                <% for (var i=0; i<items.length; i++) { %>
                <tr>
                    <td class="name"><%= items[i].item_name %></td>
                    <td class="category"><%= items[i].category_id %></td>
                    <td><%= items[i].metadata %></td>
                </tr>
                <% } %>
            </table>
        </div>
        <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <!-----------------------------------  ITEMS END ----------------------------------------------------->


    </div>
</div>